# dependencies
/assign1/node_modules
/assign2/node_modules
/assign3/node_modules
/assign4/node_modules
/assign5/node_modules
/assign5a/node_modules
/data-binding/node_modules
/first/node_modules
/second/node_modules
/template/node_modules
/recipes-project/node_modules
/data-binding-2/node_modules
/services/node_modules

#tests
/assign1/e2e
/assign2/e2e
/assign3/e2e
/assign4/e2e
/assign5/e2e
/assign5a/e2e
/data-binding/e2e
/first/e2e
/second/e2e
/template/e2e
/recipes-project/e2e
/data-binding-2/e2e
/assign4/e2e
/services/e2e