<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users
        [users]="activeUsers"
        (userSetToInactive)="onSetToInactive($event)"></app-active-users>
      <app-inactive-users
        [users]="inactiveUsers"
        (userSetToActive)="onSetToActive($event)"></app-inactive-users>
    </div>
   
  </div>
  <div>
    activation counter: {{ activationClick }} <br>
    deactivation counter: {{ deactivationClick }} 
  </div>
  <br>
  OK: Optimize this app by adding a UsersService, <br>
  which manages the active and inactive users.<br>
<br>
  Also add a CounterService,<br>
  which counts the number of active->inactive<br> 
  and inactive->active actions.
</div>
