<ol>
  <input type="text"
         [(ngModel)]="username">
  <p>Current username: {{ username }} </p>   
  <button (click)="onReset()"
          [disabled]="!username"
          >Reset Username</button>

  <li>+ OK / Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <li>+ OK / Output the username property via String Interpolation (in a paragraph below the input)</li>
  <li>+ OK / Add a button which may only be clicked if the username is NOT an empty string</li>
  <li>+ OK / Upon clicking the button, the username should be reset to an empty string</li>
</ol>
